/*--- highlight color: #74b9ff ---*/
/*--- text color: #2d3436 ---*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #d4dfe7;
    color: #2d3436;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

header {
    width: 50%;
    margin: 0 25%;
}

a {
    color: #d82f2f;
    text-decoration: none;
    font-weight: 200;
    font-size: 1.25em;
}
.site-title {
    text-align: center;
    background-color: #f33434;
    border-radius: 50%;
    padding: .25em 1.5em;
    margin: .5em 0 .5em 0;
}

.menu-nav {
    display: flex;
    justify-content: space-evenly;
}

.menu-nav li{
    display: inline-block;
    margin-bottom: .25em;
}

.recipe-title {
    display: flex;
    justify-content: center;
    margin: .5em 0;
}

.ingredients {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.ingredients-list {
    display: flex;
    flex-direction: column;
    padding: .25em 0;
    margin: .25em 2em;
    align-items: center;
    list-style: none;
}

.ingredients-list li {
    padding-bottom: .5em;
}

.ingredients-sublist {
    font-size: .9em;
}

.steps {
    margin: 0 25% 0 31%;
}
.steps-list {
    display: flex;
    flex-direction: column;
    margin: 1em 1.5em;
    align-items: flex-start;
}

.steps-list li {
    padding-bottom: .5em;
}

footer {
    margin: 0 25%;
    display: flex;
    justify-content: center;
}

.footer-links {
    font-size: 1.25em;
    color: #d82f2f;
    margin: 0 4em 1em 4em;
    text-decoration: none;
}

.recipe-index__title {
    display: flex;
    justify-content: center;
}

.recipe-index {
    display: flex;
    justify-content: center;
}

.recipe-index ul {
    list-style: none;
}

.recipe-index ul li {
    margin: .25em 0;
}